
.book-details{
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
    height: 100vh;
    background-color: var(--brown);
    background-image: var(--dots);
}

.book-details .details-section{
    display: grid;
    justify-items: center;
    align-items: center;
}

.book-details .back-button{
    position: absolute;
    left: 50px;
    top: 60px; 
    cursor: pointer;
    font-size: 60px;
    background-color: transparent;
    border: none;
    color: var(--red-very-dark);
}

.book-details .back-button:hover{
    color: var(--red-dark);
}

.book-details .pop-up{
    margin-top: -5vh;
    background-color: var(--brown-very-light);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 700px;
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
}

.book-details img{
    width: 100%;
    border-radius: 5px;
}

.book-details .pre-next-buttons{
    position:absolute;
    top: 50%;
    width: 60vw;
    display: flex;
    justify-content: space-between;
}

.book-details .pre-next-buttons .next,
.book-details .pre-next-buttons .previos{
   font-size: 75px;
   border: 0px;
   background-color: transparent;
} 

.book-details .pre-next-buttons .next a,
.book-details .pre-next-buttons .previos a{
   text-decoration: none;
   color: var(--brown-very-light);
} 

.book-details .pre-next-buttons .next a:hover,
.book-details .pre-next-buttons .previos a:hover{
   color: var(--brown-light);
} 

.book-details .details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--brown-very-dark-2);
    padding-right: 5px;
}

.book-details .details .header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.book-details .details .title{
    margin-top: 0px;
    font-size: clamp(10px, 30px, 30px);
    
}

.book-details .details .author{
    margin-top: 0px;
    margin-right: 5px;
}

.book-details .details .second-header{
    margin-top: 0px;
}

.book-details .on-sale{
    position: absolute;
    right: 650px;
    top: 375px;
    color: var(--red-dark);
    font-size: 70px;
    transform: rotate(-15deg);

}

.book-details .price{
    font-size: 30px;
    margin-bottom: 0px;
}

.long-text{
    cursor: pointer;
    height: 225px;
    overflow-y: auto;
    
}

.long-text span{
    color: var(--red-dark);
}

.book-reviews{
    width: 100%;
    background-color: var(--brown-light);
    border-radius: 5px;
}

.book-reviews form{
    background-color: var(--brown-light);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
    border-radius: 3px;

}
.book-reviews form h2{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 25px;
    color: var(--red-very-dark-2);

}

.book-reviews form label{
    color: var(--red-very-dark-2);
    margin-right: 10px;
    font-size: 20px;
}

.book-reviews form .username{
    background-color: var(--brown-very-light);
    color: var(--red-very-dark);
    border: 0px;
    font-size: 20px;
    border-radius: 2px;
}

.book-reviews form textarea{
    height: 100px;
    resize: none;
    overflow-y: auto;
    background-color: var(--brown-very-light);
    color: var(--red-very-dark);
    border-radius: 5px;
    font-size: 20px;

}

.book-reviews form button{
    cursor: pointer;
    align-self: center;
    width: 40%;
    background-color: var(--red-very-dark);
    color: var(--brown-very-light);
    border: none;
    border-radius: 3px;
    font-size: 15px;
}

.book-reviews form button:hover{
    background-color: var(--red-dark);
}

.book-reviews .no-reviews{
    margin-left: 20%;
    font-size: 20px;
    color: var(--red-very-dark-2);
}

.book-reviews ul{
    margin-top: 0px;
    padding-left: 0px;
    height: 55vh;
    overflow-y: auto;
    padding: 10px;

}

.book-reviews li{
    margin-top: 0px;
    list-style: none;
    padding: 10px;
    border-top: solid var(--red-very-dark-2) 2px;


}

.book-reviews li p{
    color: var(--red-very-dark-2);


}

.book-reviews li .header{
    display: flex;
    justify-content: space-between;
}

.book-reviews li .header .review-username{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 600;
    max-width: 60%;
}

.book-reviews li .header div{
    display: flex;
    gap: 10px;

}

.book-reviews li .header .review-date{
    margin-top: 0px;
    margin-bottom: 0px;
    opacity: 70%;
}

.book-reviews li .header .review-remove{
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 15px;
    padding:0px;
    border: none;
    background-color: transparent;
    color: var(--red-very-dark);
}

.book-reviews li .header .review-remove:hover{
    color: var(--red-dark);
}

.book-reviews li .rating{
    margin-top: 0px;
    margin-bottom: 0px;
}

.book-reviews .text{
    margin-top: 10px;
    margin-bottom: 0px;
}


