@import url('./colors.css');


.book-edit{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100vh;
    background-color: var(--brown-dark);
}

.book-edit .back-button{
    cursor: pointer;
    align-self: self-start;
    margin-top: 20px;
    margin-left: 40px;
    font-size: 30px;
    background-color: transparent;
    border: none;
    color: var(--red-very-dark);
}

.book-edit .back-button:hover{
    color: var(--red-dark);
}

.book-edit .pop-up{
    background-color: var(--brown-very-light);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 700px;
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
}

.book-edit img{
    width: 100%;
}

.book-edit form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
    color: var(--brown-very-dark-2);
    padding: 10px;
}

.book-edit .edit-add-title{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
    color: var(--brown-very-dark-2);
    align-self: center;
}

.book-edit .title,
.book-edit .author,
.book-edit .category,
.book-edit .published-year,
.book-edit .page-count,
.book-edit .amount{
    margin-left: 10px;
    background-color: var(--brown-light);
    color: var(--red-very-dark);
    border: 0px;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;

}

.book-edit input[type="checkbox"]{
    width: 15px;
    height: 15px;
    border-radius: 3px;
    accent-color: var(--red-very-dark);
}

.book-edit .description-textarea{
    display: flex;
    align-items: center;
}

.book-edit textarea{
    margin-left: 10px;
    resize: none;
    width: 230px;
    height: 100px;
    background-color: var(--brown-light);
    color: var(--red-very-dark);
}

.book-edit .save-button{
    cursor: pointer;
    align-self: center;
    width: 150px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: var(--red-very-dark-2);
}

.book-edit .save-button:hover{
    color: var(--red-dark);
}
