@import url('./colors.css');
@import url('./backgrounds.css');


.book-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100vh;
    background-color: var(--brown-dark);
    background-image: var(--dots);
}

.book-details .back-button{
    cursor: pointer;
    align-self: self-start;
    margin-top: 20px;
    margin-left: 40px;
    font-size: 30px;
    background-color: transparent;
    border: none;
    color: var(--red-very-dark);
}

.book-details .back-button:hover{
    color: var(--red-dark);
}

.book-details .pop-up{
    background-color: var(--brown-very-light);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 700px;
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
}

.book-details img{
    width: 100%;
}

.book-details .pre-next-buttons{
    position:absolute;
    top: 50%;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.book-details .pre-next-buttons .next,
.book-details .pre-next-buttons .previos{
   font-size: 75px;
   border: 0px;
   background-color: transparent;
} 

.book-details .pre-next-buttons .next a,
.book-details .pre-next-buttons .previos a{
   text-decoration: none;
   color: var(--brown-very-light);
} 

.book-details .pre-next-buttons .next a:hover,
.book-details .pre-next-buttons .previos a:hover{
   color: var(--brown-light);
} 

.book-details .details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--brown-very-dark-2);
    padding-right: 5px;
}

.book-details .details .header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.book-details .details .title{
    margin-top: 0px;
    font-size: clamp(10px, 30px, 30px);
    
}

.book-details .details .author{
    margin-top: 0px;
    margin-right: 5px;
}

.book-details .details .second-header{
    margin-top: 0px;
}

.book-details .on-sale{
    position: absolute;
    right: 450px;
    top: 425px;
    color: var(--red-dark);
    font-size: 70px;
    transform: rotate(-15deg);

}

.book-details .price{
    font-size: 30px;
    margin-bottom: 0px;
}

.long-text{
    cursor: pointer;
    height: 225px;
    overflow-y: auto;
    
}

.long-text span{
    color: var(--red-dark);
}

