
:root {
	--brown-very-light: #fff0d9;
    --brown-light: #f0d7b1;
    --brown: #c5a677;
    --brown-dark: #b08d59;
    --brown-very-dark: #98743d;
    --brown-very-dark-2: #5b3f15;
    --brown-very-dark-3: #3c290d;

    --red-very-light-2: rgb(254, 199, 195);
    --red-very-light: rgb(253, 157, 151);
    --red-light: #e76b62;
    --red: #de4d43;
    --red-dark: #b4433b;
    --red-very-dark: #81332e;
    --red-very-dark-2: #602622;

}
