
.home{
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100vh;
    overflow-y: auto;
}

.home .background-video{
    z-index: -1;
    width: 150vw;
    position: absolute;
    bottom: -150px;
}

.home .title{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family:'Times New Roman', Times, serif;
    font-size: 100px;
    color: white;
}

.home .welcome{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border-radius: 10px;
    /* background-color: rgba(255, 255, 255, 0.6); */
    width: 40vw;
}

.home .welcome .paragraph{
    color: white;
    font-size: 30px;
    margin-bottom: 60px;
}

.home .welcome .link{
    width: 220px;
    font-size: 25px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: white;
    color: black;
    text-decoration: none;
}

.home .welcome .link:hover{
    background-color: var(--brown-very-light);
}

.home .decoration{
    background-color: var(--brown);
    margin-top: 200px;
    width: 100vw;
    height: 100vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.home .decoration .dec-1{
    grid-area: 1 / 4 / span 2 / span 1;
}

.home .decoration .dec-2{
    grid-area: 2 / 1 /  span 1 / span 1;
}


.home .decoration .dec-3{
    grid-area: 3 / 2 / span 1 / span 1;
}

.home .decoration .dec-4{
    grid-area: 4 / -3 / span 1 / span 2;
}

.home .decoration .dec-5{
    grid-area: -3 / 3 / span 2 / span 1;
}

.home .decoration .dec-1,
.home .decoration .dec-2,
.home .decoration .dec-5{
    background-color: var(--brown-very-dark-3);
}

.home .decoration .dec-3,
.home .decoration .dec-4{
    background-color: var(--red-very-dark-2);
}

.home .decoration .dec-1,
.home .decoration .dec-2,
.home .decoration .dec-3,
.home .decoration .dec-4,
.home .decoration .dec-5{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.home .decoration .dec-1 p,
.home .decoration .dec-2 p,
.home .decoration .dec-3 p,
.home .decoration .dec-4 p,
.home .decoration .dec-5 p{
    font-size: 30px;
    color: var(--brown-very-light);
}



