
.home{
    display: grid;
    grid-template-rows: 1fr auto;
    overflow: hidden;
    margin-top: 60px;
}

body.scrolled-to-top .home{
    overflow-y: auto;
}

.home .background-video{
    z-index: -1;
    width: 150vw;
    position: absolute;
    bottom: -150px;
    left: -150px;
}

.home .title{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family:'Times New Roman', Times, serif;
    font-size: 100px;
    color: white;
}

.home .title span{
    color: var(--red-very-dark);
}

.home .welcome{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    height: 190%;
    width: 40vw;
}

.home .welcome .paragraph{
    color: white;
    font-size: 30px;
    margin-bottom: 60px;
}

.home .welcome .link{
    width: 220px;
    font-size: 25px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: white;
    color: black;
    text-decoration: none;
}

.home .welcome .link:hover{
    background-color: var(--brown-very-light);
}

.home .fading{
    margin-top: 10vh;
    width: 100%;
    height: 30vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--brown-very-dark-3));
}

.home .extras{
    background-color: var(--brown-very-dark-3);
    width: 100vw;
    height: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(11, 1fr);
}



.home .extras .extra-title{
    grid-area: 2 / 6 / span 4 / span 6;
    display: grid;
    align-items: center;
    justify-items: center;
    border: solid var(--brown-light) 10px;
    padding: 20px;
    padding-left: 12vw;
    z-index: 1;
}

.home .extras .extra-title h1{
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--brown-light);
    font-size: 80px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home .extras .extra-image{
    grid-area: 4 / 1 /  span 4 / span 6;
}

.home .extras .extra-image img{
    height: 100%;
    width: 100%;
    transform: scaleX(-1)
}

.home .extras .extra-paragraph{
    grid-area: 6 / 7 / span 2 / span 4;
    padding-left: 60px;
    padding-top: 30px;
}

.home .extras .extra-paragraph p{
    font-size: 22px;
    color: var(--brown-light);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


