@import url('./colors.css');
@import url('./backgrounds.css');
@import url('./scrollBar.css');
@import url('./bookIndex.css');
@import url('./appHeader.css');
@import url('./bookDetails.css');
@import url('./bookEdit.css');
@import url('./homePage.css');
@import url('./bookAdd.css');
@import url('./user-masage.css');
@import url('./aboutUs.css');

:root{
    --defult-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    overflow: hidden;
    background-color: var(--brown);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: var(--defult-font);
}

input, textarea, select, button {
    font-family: var(--defult-font);
}
  