
@import url('./colors.css');
@import url('./scrollBar.css');
@import url('./bookIndex.css');
@import url('./appHeader.css');
@import url('./bookDetails.css');
@import url('./bookEdit.css');

body{
    overflow: hidden;
    background-color: var(--brown);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

  